@charset "UTF-8";
		
		* {
            box-sizing: border-box;
        }
        div {
            border : 1px solid black;
        }
        p {
            text-align: center;
            font-size : 25px;
            font-weight: 900;
        }
        table {
            width : 800px;
            margin : 0 auto;
            text-align: center;
            border-collapse: collapse;
            border-bottom: 2px solid lightgray;
            border-top : 2px solid lightgray;
            margin-top : 30px;
        }
        tr {
            height : 50px;
        }
        th {
            border-bottom : 3px solid lightgray;
            height : 40px;
        }
        .col1 {
            width : 10%;
        }
        #bottom {
            display : none;
        }

        fieldset {
        	width : 900px;
        	height : 300px;
        	margin : 0 auto;
        	margin-top : 60px;
        	border : 4px solid lightgray;
        	}
		legend {
			text-align : center;
			font-size : 30px;
			font-weight : 900;
		}
        