 @charset "UTF-8";
 
    body {
        background : #f5f5f5;
    }
    #wrapper {
        width : 1400px;
        height: 800px;
        margin : 0 auto;
        box-sizing: border-box;
    }
    #top {
        width : 100%;
        height : 60%;
        background : white;
        border-radius: 5px;
        margin-top : 50px;
    }
    .top {
        height : 400px;
        float : left;
        margin-left : 5%;
        margin-top : 3%;
    }
    #search {
        width : 40%;
    }
    #select {
        width : 45%;
    }
    #search_form {
		float : right;
        margin-bottom: 10px;
    }
    table {
        text-align: center;
        table-layout: fixed;
        max-height: 250px;
        overflow-y : auto;
    }
    thead {
        background : lightgray;
    }
    table thead th {
        position: sticky;
        top : 0px;
        text-align: center;
    }
    .sel1 {
        width : 50px;
    }
    #bottom_left {
        width : 50%;
        float: left;
        padding-left : 5%;
    }
    #bottom_right {
        width : 50%;
        float : left;
    }
    #bottom {
        margin-top: 3%;
    }